header {
    grid-area: header;
    background-color: rgb(123, 48, 242);
    color: white;
    width: 100%;
    @include flexy($dir: row, $just: space-between, $wrap: nowrap);
    & h2 {
        font-size: 1.2em;
        position: relative;
        font-weight: normal;
        margin-left: 10px;
    }
    & h2::after {
        position: absolute;
        content: 'TM';
        top: -2px;
        right: -100%;
        font-size: 0.5em;
        width: 100%;
        color: white;
    }
}