nav {
    grid-area: nav;
    background-color: rgb(81, 4, 148);
    height: 30px;
    @include flexy($dir: row, $just: center, $wrap: nowrap);
    align-items: center;
    & i {
        color: white;
        margin-left: 30px;
    }
    @include mq('med') {
        height: 100%;
        width: 100%;
        @include flexy($dir: column, $wrap: nowrap, $just: unset);
        row-gap: 30px;
        & i {
            text-align: center;
            width: 100%;
            margin: 0;
            margin-top: 20px;
            font-size: 40px;
        }
    }
}